.rone-back{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F5F5F5;
  box-sizing: border-box;
}
.rone-main{
  background-color: #FFF;
  min-width: 600px;
  width: 60%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rone-title{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.rone-in{
  width: 50%;
}
.rone-info{
  width: 100%;
  padding: 80px 0 0;
}
.rone-category{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.rone-facility{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 40px;
}
.rone-text{
  width: 90%;
  padding: 8px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
.rone-select-box {
  height: 30px;
  width: 60%;
  background-color: #f5f5f5;
  padding-left: 20px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 88px;
}