footer {
  background-color: #45CB53;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  padding: 0px 160px;
  color: #fff;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 5px 0;
  white-space: pre-line;
}