<%# CSS・・・assets/stylesheets/shared/footer.css %>
<footer>
  <p>asobiba © 2023 koon23 All rights reserved

  asobibaは、知らない人同士をつなげる無料のアプリです。施設を利用したいが一緒に利用する人がいないというニーズに応えるために開発されました。このアプリは、個人で制作され、日本国内で提供されています。
  本アプリに関する一切の著作権、商標権、知的財産権は、開発者であるkoon23に帰属します。アプリ内の情報やデザイン、機能に関する無断複製、転載、改変、配布、販売、公衆送信などの行為は、著作権法およびその他の関連法令により禁止されています。
  asobibaアプリの利用に関しては、利用規約およびプライバシーポリシーに従ってください。利用者は、アプリの利用により発生したいかなる損害についても、開発者は一切の責任を負わないことに同意したものとみなされます。</p>
</footer>