.registration-main {
  width: 100vw;
  min-width: 800px;
  height: 100%;
  background-color: #45CB53;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.form-wrap {
  width: 60%;
  background-color: white;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 32px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.input-default {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0px;
  height: 48px;
  padding: 0px 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  white-space: pre-line;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.user-register-btn {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.user-register-red-btn{
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-btn {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}